<div class="menu-bg">
    <div class="logo-container">
        <div class="logo">
            <img alt="logo1"
                src="https://danskebank.com/-/media/danske-bank/dotcom/logos/danske-bank-logo.svg?iar=0&rev=6f52b61c514d4dd69e15329a3c935b92&hash=D275A1DC8A49617D30B11A9E5781BC9C">
        </div>
    </div>
    <div>
        <div class="user-name">
            <div class="uDetails">
                <span>Welcome  | <span class="userName">Densake Admin</span> </span>
            </div>
        </div>
    </div>
</div>